{% extends 'base.html' %}

{% block content %}
<head>
    
    <style>
        .login--wrapper {
            display: flex;
            align-items: center;
            height: 80vh;
            justify-content: center;
        }

        .form {
            width: 500px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="login--wrapper">

        

            <form method="post">
                <h2>Change password</h2>
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                <input type="submit" value="change">
            
            <a href="{% url 'dashboard' %}">back</a>
            </form>
            
        </div>

    </div>
</body>
{% endblock %}